{% extends 'base.twig' %}
{% block head %}
  <script type="text/javascript" src="{{ base_url() }}/assets/js/pages/add_plan_validate.js"></script>
{% endblock %}

{% block content_area %}
  <!-- Content area -->
  <div class="content">

    <!-- Form panel -->
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h5 class="panel-title">Thêm gói cước Internet</h5>
        <div class="heading-elements">
          <ul class="icons-list">
            <li><a data-action="collapse"></a></li>
            <li><a data-action="reload"></a></li>
          </ul>
        </div>
      </div>

      <!-- Add plan form -->
      <div class="panel-body">
        <form class="form-horizontal" action="add-plan" method="post">
          <div class="form-group">
            <label class="control-label col-lg-2">Tên gói cước:</label>
            <div class="col-lg-10">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="icon-menu6"></i>
                </span>
                <input name="planName" class="form-control" placeholder="Tên của gói cước" type="text"></input>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-lg-2">Cước phí:</label>
            <div class="col-lg-10">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="icon-coin-dollar"></i>
                </span>
                <input name="planPrice" class="form-control" placeholder="Cước phí tính bằng VND" type="text"></input>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-lg-2">Mô tả:</label>
            <div class="col-lg-10">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="icon-info3"></i>
                </span>
                <input name="planDes" class="form-control" placeholder="Mô tả về gói cước" type="text"></input>
              </div>
            </div>
          </div>
          <div class="text-right">
            <button type="reset" class="btn btn-default" id="reset">
              Làm lại
              <i class="icon-reload-alt position-right"></i>
            </button>
            <button class="btn bg-teal-400" type="submit">
              Thêm
              <i class="icon-arrow-right14 position-right"></i>
            </button>
          </div>
        </form>
      </div>
      <!-- </div> -->

    </div>


    <!-- Footer -->
    <div class="footer text-muted">
      &copy; 2016. Developed by Luu Dinh Hai Chau & Tran Viet Ha - Theme: Limitless Web App by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
    </div>
    <!-- /footer -->

  </div>
  <!-- /content area -->
{% endblock %}