{% extends 'base.twig' %}
{% block content_area %}
<div class="content">

  <!-- Table panel -->
  <div class="panel panel-flat">
    <div class="panel-heading">
      <h5 class="panel-title">Danh sách các gói cước</h5>
      <div class="heading-elements">
        <ul class="icons-list">
          <li><a data-action="collapse"></a></li>
          <li><a data-action="reload"></a></li>
        </ul>
      </div>
    </div>

    <div class="panel-body">
      <p class="content-group">Danh sách các gói cước gồm mã gói cước, tên gói cước, mô tả và cước phí</p>
    </div>

    <!-- <div class="table-responsive"> -->
      <table class="table datatable-basic table-hover">
        <thead>
          <tr>
            <th>Mã gói cước</th>
            <th>Tên gói cước</th>
            <th>Cước phí</th>
            <th>Mô tả</th>
            <th class="text-center">Hành động</th>
          </tr>
        </thead>
        <tbody>
          {% for plan in plans %}
            <tr>
              <td>{{ plan.getPlanId() }}</td>
              <td>{{ plan.getPlanName() }}</td>
              <td>
                <span class="label label-default">{{ plan.getPlanCost() }} VND</span>
              </td>
              <td>{{ plan.getPlanDesc() }}</td>
              <td class="text-center">
                <ul class="icons-list">
                  <li>
                    <a href="#" data-toggle="modal" data-target="#">
                      <i class="icon-file-eye"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-toggle="modal" data-target="#">
                      <i class="icon-cross2"></i>
                    </a>
                  </li>
                </ul>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    <!-- </div> -->


  </div>


  <!-- Footer -->
  <div class="footer text-muted">
    &copy; 2016. Developed by Luu Dinh Hai Chau & Tran Viet Ha - Theme: Limitless Web App by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
  </div>
  <!-- /footer -->

</div>
{% endblock %}
