{% extends 'base.twig' %}
{% block content_area %}
<div class="content">

  <!-- Table panel -->
  <div class="panel panel-flat">
    <div class="panel-heading">
      <h5 class="panel-title">Danh sách các gói cước</h5>
      <div class="heading-elements">
        <ul class="icons-list">
          <li><a data-action="collapse"></a></li>
          <li><a data-action="reload"></a></li>
        </ul>
      </div>
    </div>

    <div class="panel-body">
      <p class="content-group">Danh sách các gói cước gồm mã gói cước, tên gói cước, mô tả và cước phí</p>
    </div>

    <!-- <div class="table-responsive"> -->
      <table class="table datatable-basic table-hover">
        <thead>
          <tr>
            <th>Mã gói cước</th>
            <th>Tên gói cước</th>
            <th>Cước phí</th>
            <th>Mô tả</th>
            <th class="text-center">Hành động</th>
          </tr>
        </thead>
        <tbody>
          {% for plan in plans %}
            <tr>
              <td>{{ plan.getPlanId() }}</td>
              <td>{{ plan.getPlanName() }}</td>
              <td>
                <span class="label label-default">{{ plan.getPlanCost() }} VND</span>
              </td>
              <td>{{ plan.getPlanDesc() }}</td>
              <td class="text-center">
                <ul class="icons-list">
                  <li>
                    <a href="#" data-toggle="modal" data-target="#edit_plan">
                      <i class="icon-file-eye"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="confirm">
                      <i class="icon-cross2"></i>
                    </a>
                  </li>
                </ul>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    <!-- </div> -->
    <div id="edit_plan" class="modal fade in">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h5 class="modal-title">Sửa gói cước</h5>
          </div>

          <form class="form-horizontal" action="index.html">
            <div class="modal-body">
              <div class="form-group">
                <label class="control-label col-lg-2">Tên gói cước:</label>
                <div class="col-lg-10">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="icon-menu6"></i>
                    </span>
                    <input name="planName" class="form-control" placeholder="Tên của gói cước" type="text"></input>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-lg-2">Cước phí:</label>
                <div class="col-lg-10">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="icon-coin-dollar"></i>
                    </span>
                    <input name="planPrice" class="form-control" placeholder="Cước phí tính bằng VND" type="text"></input>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-lg-2">Mô tả:</label>
                <div class="col-lg-10">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="icon-info3"></i>
                    </span>
                    <input name="planDes" class="form-control" placeholder="Mô tả về gói cước" type="text"></input>
                  </div>
                </div>
              </div>
              <div class="text-right">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  Huỷ
                  <i class="icon-cancel-circle2 position-right"></i>
                </button>
                <button class="btn bg-teal-400" type="submit">
                  Sửa
                  <i class="icon-arrow-right14 position-right"></i>
                </button>
              </div>
            </div>
        </form>

        </div>
      </div>
    </div>


  </div>


  <!-- Footer -->
  <div class="footer text-muted">
    &copy; 2016. Developed by Luu Dinh Hai Chau & Tran Viet Ha - Theme: Limitless Web App by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
  </div>
  <!-- /footer -->

</div>
{% endblock %}
